body {
   background-image: url(img/Accountings.jpg);
   overflow: hidden;
   background-repeat: no-repeat;
}
h1 {
   position: relative;
   left: 43rem;
   
}

button { 
   position: relative; 
   left: 43rem;
}
